{% extends "layout.html" %}

{% block content%}
{%from "_macros.html" import render_field%}

<div class="container">
    <div class="span6" style="padding-left: 30px;">
        <form action="/modificar-maestro" method="POST">
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.id,class='form-control')}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.nombre,class='form-control')}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.ape_paterno,class='form-control')}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.ape_materno,class='form-control')}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.especialidad,class='form-control')}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.correo,class='form-control')}}
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{render_field(form.telefono,class='form-control')}}
                </div>
            </div>
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
            <button type="submit" class="btn btn-success" name="modificar_maestro">
                <i class="icon-ok icon-white" style="margin-right: 5px;"></i>Modificar
            </button>
            <a href="/registros-maestros" class="btn btn-primary">
                <i class="icon-arrow-left icon-white" style="margin-right: 5px;"></i>Regresar
            </a>
        </form>
    </div>
</div>

{% endblock %}