{% extends "layout.html" %}

{% block content%}
{%from "_macros.html" import render_field%}

<div class="container">
    <div class="row">
        <div style="padding-left: 50px;">
            <a href="/maestro" class="btn btn-success" style="margin-bottom: 10px;">
                <i class="icon-plus icon-white" style="margin-right: 5px;"></i>Nuevo
            </a>
            <h2>Maestros IDGS</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="tr-head">
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Especialidad</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for maestro in registros %}
                    <tr>
                        <th>{{maestro[1]}}</th>
                        <th>{{maestro[2]}} {{maestro[3]}}</th>
                        <th>{{maestro[4]}}</th>
                        <th>{{maestro[5]}}</th>
                        <th>{{maestro[6]}}</th>
                        <th>
                            <a href="eliminar-maestro?id={{maestro[0]}}" class="btn btn-danger">
                                <i class="icon-remove icon-white" style="margin-right: 5px;"></i>Eliminar
                            </a>
                        </th>
                        <th>
                            <a href="modificar-maestro?id={{maestro[0]}}" class="btn btn-warning">
                                <i class="icon-pencil icon-white" style="margin-right: 5px;"></i>Modificar
                            </a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}